html,
body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App {
  text-align: center;
  display: grid;
  gap: 20px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
}

.gif-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

.gif-gallery img {
  max-width: 100%;
  height: auto;
  display: block;
}

.search-section,
.history-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.browser-controls {
  display: grid;
  justify-content: space-between;
  gap: 100px;
  align-items: center;
  justify-content: center;
  color: white;
}

.fixed-bottom-section {
  position: fixed;
  bottom: 0;
  left: 10px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  padding: 10px;
  border-radius: 20px;
}
